html {
    box-sizing: border-box;
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 900px;
    height: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
}

.board {
    background-color: snow;
    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(3, 300px);
    width: 100%;
    height: 100%;
}

.position {
    border: 1px solid lightgrey;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 144px;
}

::backdrop {
    background-color: gray;
    opacity: 0.75;
}

dialog {
    width: 25%;
    height: 25%;
    margin: auto;
    padding: 1rem;
    background-color: #fffcfc;
    border: 1px solid hsl(0, 0%, 45%);
    border-radius: 15px;
}

.dialog-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.dialog-main-title {
    font-size: 36px;
    margin-top: 27px;
    font-weight: 500;
}

.form-block {
    display: flex;
    gap: 15px;
}

.player-scores-list {
    width: 70%;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.player-score-block {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}

.player-name {
    font-weight: 500;
    font-size: 17px;
}

.player-score {
    font-weight: 900;
    font-size: 56px;
}

.turn-message {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 48px;
}

.fieldset {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 18px;
}

.fieldset>input {
    font-size: 18px;
}

.dialog-confirm-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    transition-duration: 0.2s;
    width: 175px;
    height: 52px;
    font-size: 25px;
    font-weight: 500;
    background-color: rgb(0, 110, 255);
    color: #fffcfc;
    
}

.dialog-confirm-button:hover {
    box-shadow: 4px 5px 3px -3px hsl(0, 0%, 65%);
    -webkit-box-shadow: 4px 5px 3px -3px hsl(0, 0%, 65%);
    transition-duration: 0.2s;
}

.dialog-confirm-button:active {
    box-shadow: 3px 4px 2px -3px hsl(0, 0%, 45%);
    -webkit-box-shadow: 3px 4px 2px -3px hsl(0, 0%, 45%);
    transition-duration: 0.2s;
    transform: translate(0, 2px);
}

body:has(dialog[open]) {
    filter: blur(10px);
}

output {
    width: 70px;
    height: 30px;
    background-color: aquamarine;
}